body{
	font-family: 'roboto';
	color: #000;
}

.judul{
	background: #87D1D8;
	padding: 10px;
	text-align: center;

}

.confirm{
	color: rgb(30, 255, 0);
	padding: 5px;
	text-decoration: none;	
}

.logout {
    background-color: rgb(255, 0, 0);
    position: relative;
    right: 700px;
    left: 700px;
    top: 10px;
    padding: 5px;
    text-decoration: none;
}

.table{
    border-collapse:collapse;
    font:normal normal 12px Verdana,Arial,Sans-Serif;
    color:#333333;
}

.table th {
    background:#00BFFF;
    color:#DCDCDC;
    font-weight:bold;
    font-size:14px;
}

.table th,
.table td {
    vertical-align:top;
    padding:5px 10px;
    border:1px solid #696969;
}

.table tr {
    background:#F5FFFA;
}

.table tr:nth-child(even) {
    background:#F0F8FF;
}